<!DOCTYPE html>
<html>
  <head>
  <title>Sopapa-video</title>

   <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
   <script typz="text/javascript">
   var apiKey='45291332';
   /*var sessionId='2_MX40NTI5MTMzMn5-MTQzNzU4OTU3MzgwMH5uWVdPcHJpZjBrYmRoakI2UVRpMkxSSDJ-UH4';
   var token='T1==cGFydG5lcl9pZD00NTI5MTMzMiZzaWc9ODUxNmE5YjEwMWQ1Njc2Y2UxZjAzNGVkZDA0ODg0YTY4YzkwZGVmYzpzZXNzaW9uX2lkPTJfTVg0ME5USTVNVE16TW41LU1UUXpOelU0T1RVM016Z3dNSDV1V1ZkUGNISnBaakJyWW1Sb2FrSTJVVlJwTWt4U1NESi1VSDQmY3JlYXRlX3RpbWU9MTQzNzU4OTU3NSZub25jZT0wLjk4MTU2MTgzOTU4MDUzNTkmcm9sZT1wdWJsaXNoZXImZXhwaXJlX3RpbWU9MTQzNzY3NTk3NQ==';*/
   var sessionId="<%= id %>";
   var token="<%= clef %>";
   var session = OT.initSession(apiKey, sessionId);
   OT.setLogLevel(OT.DEBUG);
   	session.on("sessionConnected", function(event) {
     var publisher;
		var targetElement = 'videoDisplayer';
		publisher = OT.initPublisher(targetElement, null, function(error) {
		  if (error) {
		    // The client cannot publish.
		    // You may want to notify the user.
		  } else {
		    console.log('Publisher initialized.');
		  }
		});
		session.publish(publisher);
		//alert(event.streams.length);
		for(var i=0;i<event.streams.length;i++){
			if(session.connection.connectionId!=event.streams[i].connection.connectionId){
				subscribeTostream(event.streams[i]);
			}
		}

 	});
 	session.on("streamCreated", function(event) {
 		
	for(var i=0;i<event.streams.length;i++){
			if(session.connection.connectionId!=event.streams[i].connection.connectionId){
				subscribeTostream(event.streams[i]);
			}
		}
 	});
	session.connect(token, function(error) {
    if (error) {
      console.log("Error connecting: ", error.code, error.message);
    } 
  });
	function subscribeTostream(stream){
		var div=document.createElement('div');
		div.setAttribute('id','stream-'+stream.streamId);
		document.body.appendChild(div);
		subscriber = session.subscribe(stream, div.id);
	}
   </script>

  </head>
  <h1>haha <%= name %></h1>
  <body>
 <div id="videoDisplayer"> </div>

  </body>
</html>